<!--
<div class="board">

    <div class="line">
        <div class="white"><app-rook></app-rook></div>
        <div class="black"><app-knight></app-knight></div>
        <div class="white"><app-officer></app-officer></div>
        <div class="black"><app-king></app-king></div>
        <div class="white"><app-queen></app-queen></div>
        <div class="black"><app-officer></app-officer></div>
        <div class="white"><app-knight></app-knight></div>
        <div class="black"><app-rook></app-rook></div>
    </div>

    <div class="line">
        <div class="black"><app-pawn></app-pawn></div>
        <div class="white"><app-pawn></app-pawn></div>
        <div class="black"><app-pawn></app-pawn></div>
        <div class="white"><app-pawn></app-pawn></div>
        <div class="black"><app-pawn></app-pawn></div>
        <div class="white"><app-pawn></app-pawn></div>
        <div class="black"><app-pawn></app-pawn></div>
        <div class="white"><app-pawn></app-pawn></div>
    </div>



    <div class="line">
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
    </div>
    
    <div class="line">
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
    </div>

    <div class="line">
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
    </div>
    
    <div class="line">
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
    </div>

    <div class="line">
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
    </div>
    
    <div class="line">
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
    </div>
</div>
-->
<!--
<div class="board">
    <ng-container *ngIf="knightPosition$|async as kp">
        <div *ngFor="let i of sixtyFour">
            <app-cell-square *ngIf="xy(i) as pos" [position]="pos">
                <app-knight *ngIf="pos.x === kp.x && pos.y === kp.y"></app-knight>
            </app-cell-square>
        </div>
    </ng-container>
</div>
-->